.access_code_div {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    height: 15rem;
    width: 100%;
    margin: auto;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;



}

.access_input{
    
    width: 10rem;
    height: 2rem;
    position: relative;
 
}

body{
    display: flex;
    flex-direction: column;
    background-image: url("/pictures/back.jpeg");
    background-size: 100%;
    justify-content: center;
    align-items: center;
    
}