body{
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/detective-paraphernalia-high-definition-e02vnxp0clzrizfj.jpg");
    background-size: fill;
    
}

.background_file{
    position: absolute;
    top: 2rem;
    width: 40rem;
    z-index: -10;
    filter:brightness(90%);
    
}

.text{

    color: rgb(0, 0, 0);
}

.text_div{

    width: 29rem;
    position: relative;
    top: 14rem;
    font-size: .75rem;
    text-align: center;

}